.layout {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar{
    position: sticky;
    overflow: auto;
    width: 15%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.filesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.addFilesButton {
    position: sticky;
    bottom: 20px;
    right: 20px;
    width: 120px;
    align-self: flex-end;

    background: aquamarine;
    padding: 10px;
    border-radius: 10px;

    z-index: 5;
}

.addFilesContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detailsContainer {
    position: sticky;
    overflow: auto;
    width: 25%;
}