.sidebarContainer {
    flex-shrink: 0;
    background: var(--surface);
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.open {
    width: 220px;
}

.collapsed {
    width: 64px;
}

.navContent {
    padding: 80px 12px 40px 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
}

.navItem {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 0;
    transition: background-color 0.2s ease;
}

.navItem:hover {
    background-color: var(--surface-hover);
}

.icon {
    min-width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.textWrapper {
    display: grid;
    transition: grid-template-columns 0.3s ease-in-out, opacity 0.3s ease-in-out;
    align-items: center;

    overflow: hidden;
    min-width: 0;
}

.textOpen {
    grid-template-columns: 1fr;
    opacity: 1;
}

.textClosed {
    grid-template-columns: 0fr;
    opacity: 0;
}

.textInner {
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 400;
    color: var(--text);

    min-width: 0;
}